<div class="row intro-block">
	<div class="text-center">	
		<p>Join us and together we will build the world!</p>
		<%= link_to "Join Us", new_user_registration_url, :class=>"btn btn-warning" unless user_signed_in?
%>
	</div>
</div>

<div class="container">
	<div class="row">
		<h2 class="text-center text-info">Hottest Designs</h2>

		<div class="row">
			<% Creation.reorder('impressions_count DESC').limit(3).each do |creation| %>
			<%= link_to creation do %> 
				<div class="col-md-4">
					<div class="thumbnail">
			        <img class="group list-group-image" src="<%= (creation.user_files.count > 0) ? creation.user_files[0].file.url(:json_thumb) : 'http://placehold.it/400x250/000/fff' %>" alt="" />
			       <div class="caption">
		  				<h4><%= creation.title %></h4>
			  			<p><%= creation.summary %></p>
			  		</div>

					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>


	<div class="row">
		<h2 class="text-center text-info">Most Downloaded Designs</h2>

		<div class="row">
			<% Creation.reorder('num_downloads DESC').limit(3).each do |creation| %>
			<%= link_to creation do %> 
				<div class="col-md-4">
					<div class="thumbnail">
			        <img class="group list-group-image" src="<%= (creation.user_files.count > 0) ? creation.user_files[0].file.url(:json_thumb) : 'http://placehold.it/400x250/000/fff' %>" alt="" />
			       <div class="caption">
		  				<h4><%= creation.title %></h4>
			  			<p><%= creation.summary %></p>
			  		</div>

					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>