<% if current_user == message.user %>
	<li class="me clearfix">
<% else %>
	<li class="you clearfix">
<% end %>
		<span class="message-img"> 
      <img src="<%= message.user.avatar.url(:thumb) %>" class="img-circle" />
		</span>
		<div class="message-body">
			<div class="header">
				<strong class="primary-font"><%= message.user.name %></strong>
				<small class="text-muted">
					<span class="glyphicon glyphicon-time"></span>
					<%= time_ago_in_words(message.created_at) %> Ago
				</small>
			</div>
  		<p><%= sanitize markdown_to_html(message.body) %></p>
  	</div>
		
</li>