<article class="row <%= "root_comment_" + comment.root.id.to_s  %> comment_block" >
	<% if comment.depth > 0 %> 
	  <div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs ">
	<% else %>
		  <div class="col-md-2 col-sm-2 hidden-xs"> 
	<% end %> 
    <figure class="thumbnail">
      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
      <figcaption class="text-center"><%= comment.user.name %></figcaption>
    </figure>
  </div>
  <% if comment.depth > 0 %> 
 		<div class="col-md-9 col-sm-9">
	<% else %>
 		<div class="col-md-10 col-sm-10">
	<% end %> 
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i><%= comment.user.name %></div>
          <time class="comment-date'" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= comment.created_at %></time>
        </header>
        <div class="comment-post">
          <p>
            <%= comment.body %>
          </p>
        </div>

        <% if user_signed_in?  && (current_user.admin? || current_user.id == comment.user_id) %> 
          <p class="text-right"><%= link_to_if current_user.admin? || current_user.id == comment.user_id, "Edit", edit_comment_path(comment), :class => "edit-comment", remote: true %></p>
          <p class="text-right"><%= link_to_if current_user.admin? || current_user.id == comment.user_id, "Delete", comment_path(comment), method: :delete, :class => "delete-comment", remote: true %></p>
        <% end %>
        <%if user_signed_in? %>
          <p class="text-right"><%= link_to "Reply", new_polymorphic_path([@commentable, Comment.new], :parent_id => comment), :class => "reply-to-comment", remote: true %></p>
        <% end %>
      </div>
    </div>
  </div>
</article>