<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="page-header">Comments</h2>
        <section class="comment-list">
					<%= nested_comments @comments %>
					<%= render "comments/form" if user_signed_in? %>
        </section>
    </div>
  </div>
</div>
