<article class="row">
	<%= form_for [@comment], :remote=>true do |f| %>

		<%= f.hidden_field :commentable_id %>
		<%= f.hidden_field :commentable_type %> 

	<% if @comment.parent_id %> 
		<div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0  update-comment hidden-xs">
  <% else %>
  	<div class="col-md-2 col-sm-2  update-comment hidden-xs">
  <% end %> 
    <figure class="thumbnail">
      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
      <figcaption class="text-center"><%= @comment.user.name %></figcaption>
    </figure>
  </div>
	<% if @comment.parent_id %> 
  	<div class="col-md-9 col-sm-9">		
  <% else %> 
  	<div class="col-md-10 col-sm-10">
  <% end %> 
    <div class="panel panel-default arrow left">
      <div class="panel-body">
        <header class="text-left">
          <div class="comment-user"><i class="fa fa-user"></i><%= @comment.user.name %></div>
          <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> <%= @comment.created_at %></time>
        </header>
        <div class="comment-post">
					<%= f.label :body, "Update Comment" %>
					<%= f.text_area :body, :rows => 4 %>
        </div>
        	<%= f.submit "Save Changes" %>
      </div>
    </div>
  </div>
</article>

<% end %>
