<%= link_to creation do %>
	<div class="item  col-xs-4 col-lg-4">
		<div class="thumbnail">
			<% if !creation.user_files.empty? && creation.user_files[0].file.json_thumb.file %>
	    		<img class="group list-group-image" src="<%= creation.user_files[0].file.url(:json_thumb) %>" alt="" />
        	<% else %>
	        	<img class="group list-group-image" src="<%= (creation.user_files.count > 0) ? creation.user_files[0].file.url : 'http://placehold.it/400x250/000/fff' %>" alt="" />
        	<% end %>
	        	<div class="caption">
	            	<h4 class="group inner list-group-item-heading"><%= truncate(creation.title, :length => 39) %></h4>
	            	<div class="creator-info">
	            		<%= image_tag(creation.user.avatar_url, :class => "img-circle") if creation.user.avatar? %>
	            		<p><%= creation.user.name %></p>
	            	</div>
	        	</div>

	        	<div class="creation-stats">
	        		<div id="likes">
	        			<span class="glyphicon glyphicon-heart"></span><p><%= creation.likes.count %></p>
	        		</div>

	        		<div id="views">
	        	    	<span class="glyphicon glyphicon-eye-open"></span><p><%= creation.impressions.count %></p>
    				</div>

    				<div id="comments">
        	    		<span class="glyphicon glyphicon-comment"></span><p><%= creation.comment_threads.count %></p>
        	    	</div>

	        	</div>

	        	<div class="download">
	        		<%= link_to creation_download_path(creation), :target => "_blank", class: "btn btn-success" do %>

	        		<span class="glyphicon glyphicon-download-alt"></span>Download
	        		<% end %>
	        	</div>
	    </div>
	</div>
<% end %>
