<% provide(:title, "Edit Creation") %>
<h1>Update your creation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@creation) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :summary %>
      <%= f.text_area :summary, class: 'form-control' %>
      
      <%= f.label :tags %>
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {:multiple => true}) %>

      <%= f.label :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name,{}) %>

      <label id="drop-zone" class="image-upload-element" for="creation_files_file">
        <div class="jFiler-input-text">
          <h3>Drag & Drop files here</h3>
          <span style="display:inline-block; margin: 15px 0">or</span>
        </div>
        <a class="jFiler-input-choose-btn blue">Browse Files</a>
      </label>
      
      <%= f.fields_for :files do |file| %>
        <%= file.file_field :file, multiple: true, name: "files[file][]" %>
      <% end %>

      <div id="file-upload-list" class="list-group uploaded-image-list">
        <ul class="list-group" id="upload-list">
          <% @creation.user_files.each do |user_file| %>
            <li class="list-group-item item-upload-image-list" >
              <div class="file-container">
                <div class="file-position">
                  <span class="badge position"><%= user_file.position %></span>
                </div>
                <div class="file-thumbnail">
                  <% if( user_file.file.sanitized_file.content_type.include? "image" ) %>
                    <image>
                      <img class="upload-thumb" title="<%= %>" src="<%= user_file.file.url(:thumb) %>" >
                    </image>
                  <% elsif ['fbx','dae','gltf', 'glb','blend','3ds','ase','obj','ifc','xgl','zgl','ply','dxf','lwo','lws','lxo','stl','x','ac','ms3d','cob','scn','bvh','csm','xml','irrmesh','irr','mdl','md2','md3','pk3','mdc','md5','smd','vta','ogex', '3d','b3d','q3d','q3s','nff','off','raw','ter','mdl','hmp','ndo'].include? user_file.file.file.extension.downcase %>
                    <image>
                      <img class="upload-thumb" title="" src="<%= user_file.file.url(:json_thumb) %>" >
                    </image>
                  <% else %>
                    <div class="file-icon">
                      <span class="glyphicon glyphicon-file">
                        <strong>.<%= user_file.file.file.extension.downcase %></strong>
                      </span>
                    </div>
                  <% end %>
                </div>
                <div class="file-info">
                  <strong><%= user_file.file_identifier %></strong></br>
                  <strong><%= number_to_human_size(user_file.file.size) %></strong></br>
                  <strong><%= user_file.file.sanitized_file.content_type %></strong>
                </div>
                <div class="file-actions">
                  <a class="glyphicon glyphicon-trash"></a>
                </div>
              </div>
              <div class="progress" style="display: none;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                </div>
              </div>
              <input type="hidden" name="user_files[]" value="<%= user_file.id %>" />
            </li>
          <% end %>
        </ul>
      </div>

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= javascript_tag defer: 'defer' do %>
  window.creation_id = <%= @creation.id %>;
<% end %>

