<% provide(:title, 'All Creations') %>
<div class="col-md-12">
    <% if @creations.any? %>
        <h3>Creations (<%= @creations.count %>)</h3>
      	<div class="custom-pagination">
          <%= will_paginate @creations %>
        </div>
        <div id="products" class="row list-group">
					<%= render @creations %>
        </div>
      	<div class="custom-pagination">
      		<%= will_paginate @creations %>
      	</div>
    <% end %>
  </div>
</div>


