
<% provide(:title, "Create new Creation :)") %>
<h1>Create a New Creation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@user, @creation] do |f| %>

      <%= f.hidden_field :id %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :summary %>
      <%= f.text_area :summary, class: 'form-control' %>

      <%= f.label :tags %>
      <%= f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {:multiple => true}) %>

      <%= f.label :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name,{}) %>

      <label id="drop-zone" class="image-upload-element" for="creation_files_file">
        <div class="jFiler-input-text">
          <h3>Drag & Drop files here</h3>
          <span style="display:inline-block; margin: 15px 0">or</span>
        </div>
        <a class="jFiler-input-choose-btn blue">Browse Files</a>
      </label>
      
      <%= f.fields_for :files do |file| %>
        <%= file.file_field :file, multiple: true, name: "files[file][]" %>
      <% end %>

      <div id="file-upload-list" class="list-group uploaded-image-list">
        <ul class="list-group" id="upload-list"></ul>
      </div>
      

      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>