<div class="row">
  <div class="col-md-12 title-bar">
      <%= image_tag(@creation.user.avatar.url(:thumb), class: 'avatar-creation img-circle') if @creation.user.avatar? %>
      <div class="title-info">
        <h1><%= @creation.title %></h1>
        <p>Thought up by, <%= link_to @creation.user.name, @creation.user %></p>
      </div>
  </div>
</div>
<div class='carousel container'>
  <div class='row'>
    <div class='col-md-8'>
      <div id='myCarousel' class='carousel slide' data-ride='carousel'>
        <div class='carousel-outer'>
          <!-- Wrapper for slides -->
          <canvas id="c"></canvas>
          <div class='carousel-inner'>
            <% @creation.user_files.each do |file| %>
            <div class="item <%= "active" if file.id == @creation.user_files.first.id %>">
              <% if file.file.json.file %>
              <div data-url="<%= file.file.url(:json) %>" class="threed-model-container"></div>            
              <% else %>
              <img src="<%= file.file.url %>" />
              <% end %>
            </div>
            <% end %>    
          </div>  
          <!-- Controls -->
          <a class='left carousel-control' href='#myCarousel' data-slide='prev'>
            <span class='glyphicon glyphicon-chevron-left'></span>
          </a>
          <a class='right carousel-control' href='#myCarousel' data-slide='next'>
            <span class='glyphicon glyphicon-chevron-right'></span>
          </a>
        </div>
      </div>  
      <ol id='thumbnail-indicators'>
        <% @creation.user_files.each_with_index do |file, index| %>
        <li data-target='#myCarousel' data-slide-to='<%= index %>' class='slide <%= "active" if file.id == @creation.user_files.first.id %>' >   
          <% if file.file.json_thumb.file %>
          <img src='<%=file.file.url(:json_thumb) %>' alt='' />
          <% else %>
          <img src='<%=file.file.url(:thumb) %>' alt='' />
          <% end %>
        </li>
        <% end %> 
      </ol> 
    </div>
    <div class='col-md-4'>
      <div class="list-group">
        <%= link_to creation_download_path(@creation), :target => "_blank", :class => "list-group-item" do %>Download<span class="badge"><%= @creation.num_downloads %></span>
        <% end %>


        <% unless current_user && current_user.creations_liked.exists?(id: @creation.id) %>
        <%= link_to likes_path(liked_id: @creation, liked_type: @creation.class), method: :post, class: "list-group-item" do %>Like<span class="badge"><%= @creation.likes.count %></span>
        <% end %>
        <%- else -%>
        <%= link_to "Unlike", like_path(liked_id: @creation,  liked_type: @creation.class), class: "list-group-item", method: :delete %>
        <%- end -%>





        <button type="button" class="list-group-item">I Made This</button>
        <button type="button" class="list-group-item">Add To Collection</button>
        <%= link_to creation_fork_url(@creation), class: "list-group-item" do  %>
        Fork It
        <% end %>
        <% if current_user == @creation.user %>
        <%= link_to  edit_creation_url(@creation), class: "list-group-item" do  %>
        Edit Creation
        <% end %>
        <% end %> 


      </div>
    </div>

  </div>
</div>

<div class="row main-content">
  <div class="tab-content col-md-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a data-toggle="pill" href="#details">Details</a></li>
      <li><a data-toggle="pill" href="#files">Files</a></li>
      <li><a data-toggle="pill" href="#comments">Comments</a></li>
    </ul>
    <% helper = Object.new.extend(ActionView::Helpers::NumberHelper) %>
    <% totalFileSize = 0 %>
    
    <div id="details" class="tab-pane fade in active">
      <div class="col-lg-offset-1 col-lg-3">
        <h2>Stats</h2>
        <hr>
        <p>Created: <%= @creation.created_at.strftime("%B %d, %Y")  %></p>
        <p>Updated: <%= @creation.updated_at.strftime("%B %d, %Y") %></p>
        <%= render partial: 'impressions/hitcounter', locals: { impressionable: @creation} %>
      
    <div data-example-id="label-variants">
      <h4>Tags</h4>
      <% @creation.tags.each do |tag| %>
      <span class="label label-warning"><%= tag.name %></span> 
      <% end %>
    </div>
    <hr>
    <div data-example-id="label-variants">
      <h4>Category</h4>
      <% if @creation.category %>
      <span class="label label-success"><%= @creation.category.name %></span> 
      <% end %>
    </div>
  </div>
  <div class="col-lg-7">
    <h1>Summary</h1>
    <small><%= @creation.summary %></small>
  </div>

</div>


<div id="files" class="tab-pane fade">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
     <ul class="list-group" id="file-list">
       <% @creation.user_files.each do |file| %>
       <li class="list-group-item"><%= file.file_identifier %><span class="badge"><%= helper.number_to_human_size(file.file.size) %></span></li>
       <% totalFileSize += file.file.size %>
       <% end %>
       <p id="total-file-size">Total File Size: <%= helper.number_to_human_size(totalFileSize) %></p>
     </ul>
   </div>
 </div>
</div>

<div id="actions" class="tab-pane fade">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <div class="card col-lg-5 action-card">
        <div class="download-link-icon">
          <%= link_to creation_download_path(@creation), :target => "_blank" do %>
          <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
          <% end %>
        </div>
      </br> 
      <div class="card-block">
        <h4 class="card-title">Download Creation Files</h4>
      </div>
    </div>
    <div class="card col-lg-5 action-card">
      <div class="download-link-icon">
        <%= link_to creation_fork_url(@creation) do  %>
        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
        <% end %>
      </div>
    </br> 
    <div class="card-block">
      <h4 class="card-title">Fork Project</h4>
    </div>
  </div>

</div>
</div>
</div>

<div id="comments" class="tab-pane fade">
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10">
      <%= render partial: "comments/template", locals: {commentable: @creation, new_comment: @comment} %>  
    </div>
  </div>
</div>
</div>
</div>



