<%= link_to conversation, class: "conversation-load-link list-group-item",  remote: true, 'data-type' => 'text'  do %>
	 <%= conversation.users.where.not(id: current_user.id).map(&:name).to_sentence %>     
	  <span class="badge"><%= UserConversation.find_by_conversation_id_and_user_id(conversation.id, current_user.id).unread_messages_count if UserConversation.find_by_conversation_id_and_user_id(conversation.id, current_user.id).unread_messages_count > 0 %></span>
<% end %>
