<%= form_for @conversation, remote: true do |f| %>
	<div class="row current-chat-users form-group form-inline">
		
	<%= f.fields_for :user_conversations do |users| %>
		<%= users.label "Users" %>
		<%= users.collection_select :user_id, User.where.not(id: current_user.id), :id, :name, {}, {:class => "form-control", :multiple => true }  %>
	<% end %>
	</div>
	<div class="row current-chat-area">
		<ul class="current-chat">
		</ul>
	</div>
	<div class="row current-chat-footer">	
		<%= f.fields_for :messages do |mesages| %>
			<%= mesages.text_area :body, class: "form-control", placeholder: "type a message" %>
		<% end %>
  	<%= f.submit "Start Conversation" ,class: "pull-right btn btn-success" %>
	</div>  	
<% end %>
