<div class="chat" id="chat" data-currentuser-id =<%= current_user.id %>>
   <div class="col-lg-2 conversations">
			<h3>Conversations (<span><%= @conversations.length %></span>)</h3>
      <div class="list-group">
      	<%= render @conversations %>
      </div>
      <%= link_to "Create New Converstaion", new_conversation_path, :class => 'conversation-submit conversation-load-link btn btn-large btn-warning', remote: true %>

   </div>
   <div class="col-lg-10 current-conversation"></div> 
</div>
