<div class="row current-chat-area">
	<ul class="current-chat">
		<%= render @conversation.messages %>				
	</ul>
</div>

<div class="row current-chat-footer">	
			<%= form_for [@conversation, Message.new], remote: true do |f| %>
			<%= f.text_area :body, class: "form-control", placeholder: "type a message" %>
  		<%= f.submit "Send" ,class: "pull-right btn btn-success" %>
  	<% end %>
</div>