<div class="col-xs-4">
    <div href="#" class="thumbnail">
	      <%= link_to user do %>
	        <img src="<%= user.avatar.url %>" alt="..." />
      <div class="caption">

					<%= user.name %>
					<% if  current_user && current_user.admin? && current_user != user %>
						| <%= link_to "delete", user, method: :delete,
		                          data: { confirm: "You sure?" } %>
					<% end %>  
				<% end %>
    	</div>
    </div>
</div>