<% provide(:title, @user.name) %>
<div>
  <div class="row profile-page-row">
    <aside class="col-md-3">
      <section class="user_info">
        <div>
          <img src="<%= @user.avatar.url(:thumb) %>" id="profile-pic" class="img-circle">
          <h4>
            <%= @user.name %>
          </h4>
        </div>
        <hr>

        <div class="user-details">
          <p><span class="glyphicon glyphicon-envelope"></span> <%= @user.email %></p>
          <p><span class="glyphicon glyphicon-link"></span><a href="<%= @user.website %>"> <%= @user.website %></a></p>
        </div>
        <hr>

        <div class="actions">
          <h4>Actions</h4>
          <% if current_user == @user %>
          <%= link_to "New Creation", new_user_creation_url(@user) %> </br>
          <%= link_to("Settings", edit_user_path(current_user)) %>
          <% end %>  
          <% if user_signed_in? && current_user != @user  %>
          <% if current_user.friends.include? @user %>
          <span class="label label-primary">Friends</span>
          <% elsif current_user.requested_friends.include? @user %>
          <%= render partial: 'friendships/requested' %>
          <% elsif current_user.pending_friends.include? @user %>
          <%= render partial: 'friendships/pending' %>
          <% else %>
          <%= render partial: 'friendships/form' %>
          <% end %>
          <% end %>
        </div>

        <hr>

      </section>
    </aside>

    <div class="col-md-9 tab-content">
      <%= image_tag @user.banner, :id => "banner-pic"%>
      <ul class="nav nav-tabs nav-justified">
       <li class="<%= "#{'active' unless params[:active_tab] == 'creations'} "%>"><a data-toggle="pill" href="#creations">Creations</a></li>       
        <!-- <li class=""><a data-toggle="pill" href="#printed">Printed Creations</a></li> -->
        <!-- <li class=""><a data-toggle="pill" href="#followers">Followers</a></li> -->
        <li class=""><a data-toggle="pill" href="#following">Following</a></li>
        <li class=""><a data-toggle="pill" href="#liked">Liked</a></li>
        <li class="<%= "#{'active' if params[:active_tab] == 'creations'} "%>"><a data-toggle="pill" href="#about">About</a></li>
      </ul>







      <div id="creations" class="tab-pane <%= "#{'fade in active' unless params[:active_tab] == 'creations'} "%>">
        <% if @user.creations.any? %>
        <h3>Creations (<%= @user.creations.count %>)</h3>
        <div class="pagination-bar"> 
          <%= will_paginate @creations, :param_name => 'creations_page', params: {active_tab: 'creations'}  %>
        </div>
        <div class="clearfix">
          <%= render @creations %>
        </div>
        <div class="pagination-bar">
          <%= will_paginate @creations, :param_name => 'creation_page', params: {active_tab: 'creations'}   %>
        </div>
        <% end %>
      </div>



      <!-- <div id="made" class="tab-pane fade"> -->
      <!-- </div> -->

      <!-- <div id="followers" class="tab-pane fade"> -->
      <!-- </div> -->

      <div id="following" class="tab-pane fade">
        <div class="pagination-bar"> 
          <%= will_paginate @following, :param_name => 'following_page', params: {active_tab: 'following'}  %>
        </div>
        <div class="clearfix">
          <%= render @following %>
        </div>
        <div class="pagination-bar">
          <%= will_paginate @following, :param_name => 'following_page', params: {active_tab: 'following'}   %>
        </div>
      </div>

      <div id="liked" class="tab-pane fade">
        <div class="pagination-bar"> 
          <%= will_paginate @liked, :param_name => 'liked_page', params: {active_tab: 'liked'}  %>
        </div>
        <div class="clearfix">
          <%= render @liked %>
        </div>
        <div class="pagination-bar">
          <%= will_paginate @liked, :param_name => 'liked_page', params: {active_tab: 'liked'}   %>
        </div>
      </div>

      <div id="about" class="tab-pane fade">
        <h4>Stats</h4>

        <div class="row">

          <div class="col-xs-6 col-md-3">
            <div class="stat">
              <div class="stat-detail">
                <p class="card-text">Views</p>
                <h4 class="card-title"><%= @user.impressions.count %></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">

            <div class="stat">
              <div class="stat-detail">
                <p class="card-text">Creations</p>
                <h4 class="card-title"><%= @user.creations.count %></h4>
              </div>
            </div>   
          </div>
          <div class="col-xs-6 col-md-3">

            <div class="stat">
              <div class="stat-detail">
                <p class="card-text">Likes</p>
                <h4 class="card-title"><%= @user.likes.count %></h4>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">

            <div class="stat">
              <div class="stat-detail">
                <p class="card-text">Friends</p>
                <h4 class="card-title"><%= @user.friends.count %></h4>
              </div>
            </div>                    
          </div>       
        </div>   

        <hr>
        <h2>Why I'm Awesome</h2>
        <p><%= @user.bio %></p>
      </div>

    </div>
  </div>
</div>