<% flash.each do |message_type, messages| %>
	<div class="alert alert-<%= message_type %>"> 
		<ul>
			<% if messages.instance_of?(String) %>
				<li><%= messages %></li>
			<% else %>
  			<% messages.each do |message| %>
    			<li><%= message %></li>
    		<% end %>
    	<% end %>
  </ul>
  </div>
<% end %>