<% if defined? friend %>
	<div class="col-xs-4">
	    <div href="#" class="thumbnail">
	      <img src="http://placehold.it/400x200" alt="..." />
	      <div class="caption">
		      <%= link_to friend.name, friend %>
					<div class="dropdown">
					  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Friend
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu">
					    <li><%= link_to "Unfriend", user_friendship_url(current_user,friend), :method=> :delete, remote: true %></li>
					  </ul>
					</div>
	    	</div>
	    </div>
	</div>
<% end %>
