<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Friend Request Pending Approval
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><%= link_to "Accept Friend", user_friendship_url(current_user,@user), :method=> :patch, remote: true %></li>
    <li><%= link_to "Reject Friend", user_friendship_url(current_user,@user), :method=> :delete, remote: true %></li>
  </ul>
</div>

