<% if defined? pending_friend %>
	<div class="col-xs-4">
	    <div href="#" class="thumbnail">
	      <img src="http://placehold.it/400x200" alt="..." />
	      <div class="caption">
		      <%= link_to pending_friend.name, pending_friend %>

					<div class="dropdown">
	  			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Friend Request Pending Approval
	  			<span class="caret"></span></button>
	  			<ul class="dropdown-menu">
	    			<li><%= link_to "Accept Friend", user_friendship_url(current_user,pending_friend), :method=> :patch, remote: true %></li>
	    			<li><%= link_to "Reject Friend", user_friendship_url(current_user,pending_friend), :method=> :delete, remote: true %></li>
	  				</ul>
					</div>
	    	
	    	</div>
	    </div>
	</div>
<% end %>