<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Requested Friend
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><%= link_to "Cancel Request", user_friendship_url(current_user,@user), :method=> :delete, remote: true %></li>
  </ul>
</div>

