<div class="container">
  <h2>Relationships</h2>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#friends">Friends</a></li>
    <li><a data-toggle="pill" href="#requested">Requested Friends</a></li>
    <li><a data-toggle="pill" href="#pending">Friend Requests To Approve</a></li>

  </ul>
  
  <div class="tab-content">

    <div id="friends" class="tab-pane fade in active">
			<%= render partial: 'friendships/friend', collection: @user.friends %>
    </div>
    
    <div id="requested" class="tab-pane fade">
      <%= render partial: 'friendships/requested_friend', collection: @user.requested_friends %>

    </div>

    <div id="pending" class="tab-pane fade">
      <%= render partial: 'friendships/pending_friend', collection: @user.pending_friends %>
    </div>
  </div>
</div>