<h1>New Challenge</h1>

	<div class="row">
		<%= form_for @challenge do |f| %>

			<%= f.label :name, "Challenge Name" %>
			<%= f.text_field :name %>


			<%= f.label :description %>
			<%= f.text_area :description %>

			<%= f.label :challenge_picture %>
      <%= f.fields_for :challenge_picture do |file| %>
        <%= file.file_field :challenge_picture %>
      <% end %>

			<div class='form-group'>
      	<div class='input-group date' id='datetimepicker'>
					<%= f.text_field :deadline, class: 'form-control' %>
      		<span class="input-group-addon">
	        	<span class="glyphicon glyphicon-calendar"></span>
  	    	</span>
				</div>
			</div>


			<%= f.submit "Create Category" %>
		<% end %>

	</div>

  <script type="text/javascript">
      $(function () {
          $('#datetimepicker').datetimepicker();
      });
  </script>