<h2>Time To Launch</h2>
<div class="panel panel-default" data-toggle="tooltip" data-placement="top" title="" data-original-title="Beautifull, insn't it?">
	<div class="panel-body">
  	<div class="lead" id="clock"></div>
  </div>
</div>


<h1><%= @challenge.name %></h1>
<p><%= @challenge.description %></p>





  <script type="text/javascript">
      $(function () {

  			var $clock = $('#clock');

  			$clock.countdown('<%= @challenge.deadline %>', function(event) {
    			$(this).html(event.strftime('%D days %H:%M:%S'));
  			});


      });
  </script>