body.conversations.index div.container-fluid:first-of-type {
  padding: 0;
}

div.current-conversation {

}


div.current-chat-area {
  overflow: auto;
  height: 100vh;

  ul.current-chat {
    list-style: none;
  }

}

div.current-chat-footer {
  position: absolute;
  bottom: 0px;
  padding: 20px;
  width: 100%;
  background-color: lightgray;
}


div.conversations {
  background-color: aliceblue;
  margin: 0;
  height: 90vh;

}

div.current-conversation{
  background-color: antiquewhite;
  height: 90vh;
}

ul.current-chat {
  li {
    clear: both;
    &.me {
      float: left;
    }
    &.you {
      float: right; 
    }
  }
}

span.message-img img {
  max-width: 20px;
  max-height: 20px;
}


.conversation-submit {
  margin-top: 10px;
}

ul.list-group {
  margin: 0;
}

#conversation_user_conversation_users_chosen{
  min-width: 127px;
}

label[for=conversation_user_conversation_users_chosen] {
  padding-left: 10px;
}

div.carousel-inner div.item img {
  margin: auto;
}

#thumbnail-indicators {
  margin: 0;
  border-radius: 0 0 5px 5px;
  padding-bottom: 15px;
}

.main-content {
  padding-top: 25px;
}





