// Place all the styles related to the Creations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* microposts */
.creations {
  .microposts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }

  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }

  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }



  .glyphicon { margin-right:5px; }
  .thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #FFFFFF;
  }

  .item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
  }
  .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
  }

  .item.list-group-item .list-group-image {
    margin-right: 10px;
  }
  .item.list-group-item .thumbnail {
    margin-bottom: 0px;
  }
  .item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
  }
  .item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
  }

  .item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
  }

  .item.list-group-item img {
    float: left;
  }
  .item.list-group-item:after {
    clear: both;
  }
  .list-group-item-text {
    margin: 0 0 11px;
  }

  #thumbnail-indicators {
   width: 100%; /* arbitary for demo only */
   white-space: nowrap;
   overflow-y: hidden;
   overflow-x: scroll;
   -webkit-overflow-scrolling: touch;
   padding-top: 10px;
 }

 #thumbnail-indicators .slide {
  display: inline;
  
}
#thumbnail-indicators .slide img {
  border-radius: 5px;
}

#thumbnail-indicators .slide.active img {
  border: 2px solid;
  border-color: #F2642F;
}

#c {
  position: absolute;
  // left: 0px;
  // top: 0px;
  // width: 100%;
  // height: 100%;
  // z-index: -9999;

}

.threed-model-container {
  min-height: 400px;
}

#drop-zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}

.imageThumb {
  width: 75px;
  height: 75px;
  border-radius: 10px;

}

.file-details, .image-thumb{
  display: inline-block;
  margin-left: 10px;
}

.file-details {
  margin-left: 15px;
  margin-top: 10px;
}


#creation_files_file {
  display: none;
}

label.image-upload-element {
    cursor: pointer; /* "hand" cursor */
    font-size: 1.25em;
    font-weight: 700;
    // color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 10px;

  }
  #creation_files_file:hover + label,
  label.image-upload-element:hover {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    opacity: 0.5;

  }

  .uploaded-image-list .list-group-item {
    padding-top: 0;
  }


  .file-dropzone {
    padding: 60px;
    border: 1px dotted;
    border-radius: 10px;
  }
  .is-dragover {
    background-color: rgb(240,240,240);
  }

  .upload-thumb {
    max-width: 100px;
    max-height: 100px;
  }

  div.upload-thumbnail div.file-icon {
    color: red;
  }

  div.file-thumbnail div.file-icon span.glyphicon.glyphicon-file {
    color: black;
    font-size: 75px;
    strong {
      position: absolute;
      font-size: 25px;
      color: white;
      line-height: 75px;
      margin-left: -66px;
    }
  }


  li.list-group-item.item-upload-image-list div.file-container {
    overflow: hidden;
    padding-top: 15px;
  }



  .file-container {
    .file-position {
      width: 10%;
      float: left;
      line-height: 75px;
    }
    .file-thumbnail {
      width: 25%;
      float: left;

    }
    .file-info {
      width: 55%;
      float: left;
    }
    .file-actions {
      width: 10%;
      float: left;
      line-height: 75px;
    }
  }

  a.glyphicon.glyphicon-trash {
    font-size: 20px;
  }
  

  a.carousel-control.left, a.carousel-control.right {
    color: #F2642F;
    background-image: none;
    &:hover, &:focus{
      background: none;
    }
  }

  div.carousel.container {
    margin: 0;
    width: 100%;
  }

  div.title-info {
    float: left;
    margin-left: 20px;
  }

  img.avatar-creation {
    float: left;
    width: 100px;
    height: 100px;
  }

  div.title-bar {
    margin-top: 25px;
  }

  div.title-info h1 {
    margin-top: 8px;
  }

  #total-file-size {
    padding-top: 15px;
  }

  #file-list {
    margin-top: 10px;
  }

}

.creations.index, .users.show {


  .thumbnail a:hover {
    text-decoration: none;

  }

  img.group.list-group-image {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: -23px;
    border-radius: 5px;
    


    width: 430px;
    height: 286px;
  }
  div.caption {
    margin-top: 20px;
  }

  div.creator-info {
    margin-left: 48px;
    padding-top: 15px;
    img {
      width: 38px;
    }
    p {
      display: inline;
      padding-left: 5px;

    }
  }


  div.creation-stats div p{
    display: inline;
    padding-left: 3px;
  }

  div.creation-stats {
    font-size: 22px;
  }

  #likes{
    display: inline-block;
    width: 32%;
  } 

  #views{
    display: inline-block;
    width: 32%;
  } 

  #comments{
    display: inline-block;
    width: 32%;
  }

  div.creation-stats {
    text-align: center; 
    padding-top: 15px;
  }

  div.download {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    a.btn {
      width: 85%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }

  h4.list-group-item-heading {
    text-align: center;
  }
  .custom-pagination {
    text-align: center;
  }
  .pagination:first-child {
    margin-top: 0px;
  }

  .item {
    margin-bottom: 45px;
  }

  h1 {
    padding-left: 15px;
  }

}