// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.row.intro-block {
	height: 450px; 
	color: white;
	position: relative;
	background-image: linear-gradient(to right, rgba(0,0,0,0.4) 40%, transparent),	image-url('stock-photo--d-printinted-model-of-human-head-336055742');
	

	div {
		position: relative;
		top: 50%;	
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	p {
		line-height: normal;
		font-size: xx-large;
	}
}

div.footer {
	background-color: #e7e7e7;
	border-top: 1px solid #bebebe;
	margin-top: 125px;

	.footer-links {
		.company-links {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			li {
				float: right;
				padding-left: 25px;
				line-height: 50px;
				padding-right: 10px;
			}
		}
	}
}

