/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
/*
    *= require_self
*/
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	color: #F2642F;
	font-weight: bolder;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "social-share-button";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

@import "chosen";
@import "font-awesome";
@import "account_activations";
@import "authentications";
@import "challenges";
@import "comments";
@import "conversations";
@import "creations";
@import "follows";
@import "friends";
@import "like";
@import "messages";
@import "password_resets";
@import "printers";
@import "search";
@import "sessions";
@import "softwares";
@import "static_pages";
@import "users";




li form.form-inline {
	padding-top: 5px;
}

nav.navbar.navbar-default {
	margin-bottom: 0;
	padding: 10px 0;
}

nav .navbar-header {
	padding-left: 20px;
}

nav ul.nav.navbar-nav.navbar-right {
	padding-right: 20px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #F2642F !important;
}

div.alert {
	margin-top: 0;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
}