<li>
	<%= category.name %> 
	<% if current_user.admin? %> 
		| <a href="#" class="add-subcategory">Add Subcategory</a>
	<% end %>

	<% parent_id ||= nil %>

	<%= form_for Category.new, :html => { :style => "display:none;" } do |f| %>
	  <%= f.hidden_field :parent_id, :value => category.id %>
	  <%= f.label :name, "New Category" %>
	  <%= f.text_field :name %>
	  <%= f.submit "Create Category" %>            
	<% end %>
</li>