<h1>New Category</h1>

	<article class="row">
		<%= form_for Category.new do |f| %>
			<%= f.hidden_field :parent_id %>
			<%= f.label :name, "New Category" %>
			<%= f.text_area :name, :rows => 4 %>
			<%= f.submit "Create Category" %>
		<% end %>

	</article>

