<div class="footer">
	<div class="row"> 
		<div class="company-name col-lg-offset-1 col-lg-2">
			<a class="navbar-brand" href="/">I Think And Create</a>
		</div>
		<div class="footer-links col-lg-9 text-right">
			<ul class="company-links">
				<li>About Us</li>
				<li>®LegalContact</li>
				<li>Developers</li>
			</ul>
		</div>
	</div>
</div>
