<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">I Think And Create</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
              
              <li><%= link_to "Creations", creations_path %></li>
              <% if user_signed_in? %>
                             <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> Friends <span class="badge"> <%= current_user.friends.count + current_user.requested_friends.count + current_user.pending_friends.count %></span><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to user_friendships_url(current_user) do %>
                        Friends <span class="badge"><%= current_user.friends.count %></span>
                      <% end %>
                    </li>    
                    <li>
                      <%= link_to user_friendships_url(current_user)   do %>
                        Requested Friends <span class="badge"><%= current_user.requested_friends.count %></span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to  user_friendships_url(current_user) do %>
                        Friend Requests To Approve <span class="badge"><%= current_user.pending_friends.count %></span>
                      <% end %>                    
                    </li>  
                  </ul>
                </li>

                  <li><%= link_to "Users", users_path %></li>
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "Conversations", conversations_path %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path %></li>
                <li><%= link_to "Sign in with Facebook",     user_facebook_omniauth_authorize_path%></li>
              <% end %>
              <li>
                <%= form_tag search_url, :class => 'form-inline', :method => 'get' do %>
                  <div class="input-group" >  
                    <div class="form-group" >
                      <%= text_field_tag :search, nil, class: 'form-control' %>
                      <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </div>
                <% end %>
              </li>


             

            </ul><!--/.nav-account-login-dropdown -->
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
