<!DOCTYPE html>
<html lang="en">
<head>

  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrMUHIXwQXrHRkOZsd129IR7AmXXL0ci8&libraries=places"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
      <![endif]-->

    </head>

    <body class="<%= controller_name %> <%= action_name %>">
      <%= render 'layouts/header' %>
      <%= flash_messages %>
      <div class="container-fluid">
        <%= yield %>      
      </div>
      <%= render 'layouts/footer' %>
    </body>
    </html>
